body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.calculator{
    border:2px solid black;
    padding:20px;
    background-color: black;
}

#display{
    width:100%;
    height:60px;
    margin-bottom:10px;
    font-size:20px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,90px);
    gap:10px;
    
    
    
}

button{
    height:70px;
    font-size:30px;
    background-color: black;
    color:white
}
